@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
*{
  padding: 0;
  margin: 0;
}
.header{
  width: 100%;
  height: auto;
  background: green;
  padding-bottom: 30px
}
.navigation{
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 15px 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-size: 20px; */
  z-index: 2;
}
.nav{
  width: 100%;
  height: 50px;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;

}
.navbar-brand{
  color: black;
  height: 100%;
  display: block;
  font-size: 25px;

}

.nav-menu{
  height: 100%;
  display: inline;
  /* background-color: purple; */
}

.nav-item{
  display: inline-block;
  height: 100%;
  /* float: right; */
}
.nav-link{
  display: block;
  height: 100%;
  /* padding: 10px 10px; */
  margin: 0 5px;
  /* background-color: blue; */
  color: black;
  /* font-family: 'Roboto', sans-serif;
  font-weight: 500; */
}

/* body */
.banner{
  width: 100%;
  height: 80vh;
  background-color: purple;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
}
.banner-img{
  width: 53%;
  height: 100%;
  background-color: blue;
  float: right;
}
.banner-tagline{
  width: 45%;
  height: 100%;
  background-color: yellow;
}
/* responsive */
@media screen and (max-width:1010px){
  .banner-img{
    display: none;
  }
  .banner-tagline{
    width: 100%;
  }
}
